html, body {
	margin: 0;
	padding: 0;
}
h1 {
	margin-left: 20px;
	color: #666666;
}
.items {
	margin: 0;
	padding: 0;
	margin-left: 20px;
	li {
		display: inline-block;
	}
	a {
		display: block;
		padding: 5px 15px;
		background:lightblue;
		color: #fff;
		text-decoration: none;
		margin-right: 2px;
		&:hover {
			background: #666;
		}
	}
}
.content p {
	box-sizing: border-box;
	width: 100%;
	padding: 0 20px;
}